#####
# Compiled sources
#####
*.class
bin/
build/
target/



#####
# Eclipse IDE
#####
.metadata/
Servers/
.project
.classpath
.settings/



#####
# IntelliJ
#####
.idea/
springboot-jersey-gradle--rest-stateful-part.iml



#####
# Gradle
#####
.gradle/



#####
# Test files
#####
cookies.txt
